<% provide(:title, "checkout") %>

<ul class="nav nav-justified nav-tabs mb-4">
	<li class="nav-item"><%= link_to "1. Shopping Cart",shoppingcart_path, class:"nav-link disabled"%></li>
	<li class="nav-item"><%= link_to "2. Delivery", edit_checkout_shipping_address_path, class:"nav-link active disabled_link" %></li>
	<% if current_order.shipping_address.nil? %>
	  <% delivery_status = "disabled disabled_link" %>
	<% else %>
	  <% delivery_status = "disabled" %>
	<% end %>
	<li class="nav-item"><%= link_to "3. Payment", new_payment_path, class:"nav-link #{delivery_status}" %></li>
</ul>

<div class="row">
	<section class="col-md-8">
		<%= form_for(@shipping_address, url:checkout_shipping_address_path, html:{class:"need_validation", novalidate:true}) do |f| %>
				
			<%= render "shared/error_messages", object: @shipping_address %>

			<div class="form-row">
				<div class="form-group col-lg-6">
					<%= f.label :firstname, "First Name", class:"required" %>	
					<%= f.text_field :firstname, class:"form-control", required:true,maxlength:"255", autocorrect:"off" %>
					<div class="invalid-feedback">Please input the first name.</div>
				</div>
					
				<div class="form-group col-lg-6">
					<%= f.label :lastname, "Last Name", class:"required" %>
					<%= f.text_field :lastname, class:"form-control",  required:true,maxlength:"255", autocorrect:"off" %>
					<div class="invalid-feedback">Please input the last name.</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6">
					<%= f.label :phone, "Phone(Mobile preferred)", class:"required" %>
					<%= f.text_field :phone, class:"form-control", required:true, type:"tel",maxlength:"255" %>
					<small class="form-text">eg. 0411 234 567, (02)38921111.</small>
					<div class="invalid-feedback">Please input valid phone number.</div>
				</div>

				<div class="form-group col-lg-6">
					<%= f.label :email, "Email", class:"required" %>
					<%= f.text_field :email, class:"form-control", type: "email", required:true,maxlength:"255" %>
					<div class="invalid-feedback">Please input valid email.</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-4">
					<%= f.label :level_or_suite, "Level/Suite" %>
					<%= f.text_field :level_or_suite, class:"form-control",maxlength:"255", autocorrect:"off" %>
					<small class="form-text">eg. Apartment 104</small>
				</div>
				
				<div class="form-group col-lg-8">
					<%= f.label :street_address, "Street Address", class:"required" %>
					<%= f.text_field :street_address, class:"form-control",required:true, maxlength:"255", autocorrect:"off" %>
					<div class="invalid-feedback">Please input the valid street address.</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-4">
					<%= f.label :suburb_or_city, "Suburb/City", class:"required" %>
					<%= f.text_field :suburb_or_city, class:"form-control", required:true, maxlength:"255", autocorrect:"off" %>
					<div class="invalid-feedback">Please input the corrent suburb.</div>
				</div>

				<div class="form-group col-lg-4">
					<%= f.label :state, "State", class:"required" %>
					<%= f.select(:state, options_for_select(["ACT","NSW","NT","QLD","SA","Tas","Vic","WA"]), { prompt:"SELECT"}, {class:"form-control",required:true}) %>
					<div class="invalid-feedback">Please select the state.</div>
				</div>

				<%= f.hidden_field :country%>

				<div class="form-group col-lg-4">
					<%= f.label :postcode, "Postcode", class:"required" %>
					<%= f.text_field :postcode, class:"form-control", required:true, maxlength:"255"  %>
					<div class="invalid-feedback">Please input the postcode.</div>
				</div>
			</div>

			<%= f.submit "NEXT", class:"btn btn-primary" %>
		<% end %>
	</section>

	<aside class="col-md-4 d-none d-md-block">
		<%= render "shared/order_summary", order: @order %>
	</aside>


</div>
