<h3>Order Summary</h3>
			<table class="table">
				<tbody>
					<% order.order_items.each do |order_item| %>
						<tr>
							<% product = order_item.product %>
							<td >
								<%=image_tag(product.photos.first.image.preview.url, class: "img-fluid img_thumb_size") if product.photos[0]%>
							</td>
							<td>
								<p><%= product.title%></p>
								<p><%= "QTY #{order_item.product_quantity}" %></p>
							</td>
							<td><%= number_to_currency(order_item.subtotal) %></td>
						</tr>
					<% end %>
				</tbody>


				<tfoot>
					<tr>
						<td colspan="2">Subtotal</td>
						<td><%= number_to_currency(order.subtotal) %></td>
					</tr>
					<tr>
						<td colspan="2">Delivery</td>
						<td><%= number_to_currency(order.delivery_fee) %></td>
					</tr>
					<tr>
						<td colspan="2">Total (incl. GST)</td>
						<td><%= number_to_currency(order.total) %></td>
					</tr>
				</tfoot>
			</table>