<% shipping_address = order.shipping_address %>
<h3>Delivery Information</h3>
<div>
	<%= "#{shipping_address.firstname} #{shipping_address.lastname}" %></br>
	<%= shipping_address.email %></br>
	<%= shipping_address.phone %></br>
	<%= "#{shipping_address.level_or_suite}, " if !shipping_address.level_or_suite.empty? %><%= shipping_address.street_address%><%= ", #{shipping_address.suburb_or_city}" if !shipping_address.suburb_or_city.empty? %></br>
	<%= shipping_address.state%>, <%= shipping_address.country%>, <%= shipping_address.postcode%>
</div>