<% shipping_address = order.shipping_address %>
<div>
	<p class="capitalize"><%= "#{shipping_address.firstname} #{shipping_address.lastname}" %></p>
	<p class="lowercase"><%= shipping_address.email %></p>
	<p class="lowercase"><%= shipping_address.phone %></p>
	<p class="capitalize"><%= "#{shipping_address.level_or_suite}, " if !shipping_address.level_or_suite.empty? %><%= shipping_address.street_address%></p>
	<p class="uppercase">
		<%= "#{shipping_address.suburb_or_city}, " if !shipping_address.suburb_or_city.empty? %><%= shipping_address.state%>,
		<%= shipping_address.country%>, <%= shipping_address.postcode%>
	</p>
</div>