<h1>Order Index</h1>

<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>Created Time</th>
				<th>Items</th>
				<th>Total Items</th>
				<th>
					Total Price</br>
					(Subtotal + Delivery Fee = Total)
				</th>
				<th>Customer</th>				
				<th>Shipping Address</th>
				<th>EDIT</th>	
				<th>DELETE</th>
			</tr>
		</thead>

		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<% order_items = order.order_items %>
					<td><%= order.status%></td>
					<td><%= order.created_at%></td>
					<td>
						<ol>
							<% order.order_items.each  do |order_item| %>
								<li>
									<%= link_to(order_item.product.title, product_path(order_item.product)) %></br>
									<%= number_to_currency(order_item.product.price) %> *
									<%= order_item.product_quantity %> =									
									<%= number_to_currency(order_item.subtotal) %>
								</li>
							<% end %>
						</ol>
					</td>
					<td><%= order.item_quantity%></td>
					<td>
						<%= number_to_currency(order.subtotal) %> </br> 
						+ <%= number_to_currency(order.delivery_fee) %></br>
						= <%= number_to_currency(order.total) %>
					</td>
					<td><%= %></td>
					<td><%= render "shared/shipping_address", order: order if order.shipping_address %></td>
					
				</tr>
			<% end %>
		</tbody>


		<tfoot>
			<tr>				
				<td></td>
			</tr>
		</tfoot>
	</table>
