<% provide(:title, "checkout") %>

<ul class="nav nav-justified nav-tabs mb-4">
	<li class="nav-item"><%= link_to "1. Shopping Cart",shoppingcart_path, class:"nav-link disabled"%></li>
	<li class="nav-item"><%= link_to "2. Delivery", edit_checkout_shipping_address_path, class:"nav-link disabled" %></li>
	<li class="nav-item"><%= link_to "3. Payment", new_payment_path, class:"nav-link active disabled_link" %></li>
</ul>

<div class="row">
	<section class="col-lg-8">
		
<!--
	  	<%= form_tag payments_path, id:"payment_form" do%>
	   		<%= label_tag(:card_num, "Card Number") %> 
	   		<div id="card_num"></div>

	   		<%= label_tag(:expiry_date, "Expiry Date") %> 
	   		<div id="expiry_date"></div>

	   		<%= label_tag(:cvv, "CVV") %> 
	   		<div id="cvv"></div>
	    <%= submit_tag "Pay Securely Now", class:"btn btn-primary btn-lg" %>
	  <%end%>
-->
		<div class="card">
		  <div class="card-header">
		    <h3 class="card-title">Enter Card Details</h3>
		  </div>
		  <%= form_tag payments_path, class:"card-body", id:"payment_form", data:{client_token: @client_token} do %>
		    <div class="form-row">
		      <div class="form-group col-sm-8">
		        <label>Card Number</label>
		        <!--  Hosted Fields div container -->
		        <div class="form-control payment_input" id="card-number"></div>
		        <span class="helper-text"></span>
		      </div>
		      <div class="form-group col-sm-4">
		        <label >Expiration Date</label>
		        <div class="form-row">
		          <!--  Hosted Fields div container -->
		          <div class="form-control col-6 payment_input" id="expiration-month"></div>
		          <!--  Hosted Fields div container -->
		          <div class="form-control col-6 payment_input" id="expiration-year"></div>		  
		        </div>
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="form-group col-sm-6">
		        <label>Security Code</label>
		        <!--  Hosted Fields div container -->
		        <div class="form-control payment_input" id="cvv"></div>
		      </div>
		      <div class="form-group col-sm-6">
		        <label>Zipcode</label>
		        <!--  Hosted Fields div container -->
		        <div class="form-control payment_input" id="postal-code"></div>
		      </div>
	    	</div>
	    	<%= hidden_field_tag :payment_method_nonce, "", id:"nonce" %>
	    	<div class="text-center">	    		
	    		<%= submit_tag "Pay Securely Now", class:"btn btn-primary btn-lg", id:"btnSubmit" %>
	  	  <%end%>
	    	</div>
	  	  </form>
	  	  <div class="card-footer">
	  	  	<p>We accept <%= image_tag "/payment methods.png", alt:"Visa/Master Card/AMEX", id: "payment_image", width: "130" %> </p>
	  	  </div>
	 	</div>

	</section>

	<aside class="col-lg-4 d-none d-lg-block	">
		<section class="mb-5">
			<%= render "shared/order_summary", order: @order %>
		</section>

		<section>
			<%= render "shared/shipping_address", order: @order %>
		</section>
	</aside>
</div>

