<div class="col-12 col-sm-6 col-md-4 col-xl-3">
	<div class="card text-center border-0">
		<%=link_to(image_tag(product.photos.first.image.url, class: "card-img_top product_list_image"), product_path(product)) if product.photos[0] %>
		<div class="card-body">	
			<h5 class="card_title product_title"><%=link_to product.title, product_path(product), class:"link_text"%></h5>
			<p class="card-text product_abstract"><%= product.abstract%></p>
			<h6 class="card-text"><%= number_to_currency(product.price) %></h6>
			<h6 class="card-text"><%= "Current Stock: #{product.stock}" %></h6>
			<h6><%= link_to "Edit", edit_product_path(product), class:"btn btn_admin" %>
			<%= link_to "Delete", product_path(product), method: :delete, data:{confirm:"Are you sure?"}, class:"btn btn_admin" %></h6>
		</div>
	</div>
</div>

