<section>
	<h1>Categories</h1>
</section>

<table>
	<thead>
		<tr>
			<th>Category Name</th>
			<th>Edit Category</th>
			<th>Delete Category</th>
		</tr>
	</thead>

	<tbody>
		<% @categories.each do |category| %>
			<tr>
				<td class="category_name"><%= link_to category.name, category_path(category)%></td>
				<td><%= link_to "Edit", edit_category_path(category), class:"table_link" %></td>
				<td><%= link_to "Delete", category_path(category), method: :delete, data:{confirm:"Are you sure?"}, class:"table_link" %></td>
			</tr>
		<% end %>
	</tbody>

	<tfoot>
		<tr>
			<td colspan="3"><%= link_to "Create A New Category", new_category_path, class:"table_link" %></td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to "Create A New Product", new_product_path, class:"table_link" %></td>
		</tr>
	</tfoot>
</table>


