<%= form_for product, html:{multipart:true, class:"need_validation", novalidate:true} do |f| %>

	<%= render "shared/error_messages", object: product %>
	
			<div class="form-group">
		  		<%= f.label :title, "Title" %>
				<%= f.text_field :title, class:"form-control", required:true, maxlength:"255"%>
				<div class="invalid-feedback">Please input the valid title which should be no more than 255 charaters.</div>
			</div>

		
			<div class="form-row">
				<div class="form-group col-md-6">
					<%= f.label :price, "Price" %>
					<div class="input-group">
						<div class="input-group-prepend">
				          <span class="input-group-text">$</span>
				        </div>
						<%= f.text_field :price, placeholder:"00.00", class:"form-control", type:"number", step:"0.01", max:"1000000",min:'0' %>
						<div class="invalid-feedback">Please input the valid price.</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<%= f.label :stock, "Stock" %>
					<%= f.text_field :stock, placeholder:"Integer only", class:"form-control ", required:true, type:"number" %>
					<div class="invalid-feedback">Please input the valid stock number.</div>
				</div>
			</div>
	
		
			<div class="form-group">
				<%= f.label :abstract, "Abstract" %>
				<%= f.text_field :abstract, class:"form-control"  %>
				<div class="invalid-feedback">The abstract should be no more than 255 charaters.</div>
			</div>

			<div class="form-group">
				<%= f.label :description, "Description" %>
				<%= f.text_area :description, class:"form-control", required:true  %>
				<div class="invalid-feedback">Please input the description.</div>
			</div>
					
			<div class="form-group">
				<%= f.label :categorizations_attributes, "Product Category" %>
				<div class="form-row">
					<%= f.fields_for :categorizations do |added_form| %>
					<%= added_form.select :category_id, @category_options, {prompt: "Select a Category"}, class:"form-control col-lg-4 col-md-6" %> 
					<% end %>
				</div>
			</div>
		
		
			<div class="form-group">
		  		<%= f.label :photos_attributes, "Product Photos" %>
		  			
				<%= f.fields_for :photos do |added_form| %>
					<% if !product.photos[added_form.index].image.file.nil? %>
				<!-- Put all the existing photos in one row -->
				<% if added_form.index==0 %>
				<section>
				<% end %>
						<div style="width:250px; display:inline-block; vertical-align:top">
							<%= image_tag(product.photos[added_form.index].image.preview.url, class: "img-fluid img-thumbnail", height:"200px") %>
							<%= added_form.hidden_field :image_cache %>
							<div class="form-check">
								<%= added_form.check_box :_destroy, class:"form-check-input" %>
								<%= added_form.label :_destroy, "Delete", class:"form-check-label" %>		
							</div>
						</div>
				<!-- Put all the existing photos in one row, section ends -->
				<% if product.photos[added_form.index+1].image.file.nil? %>
				</section>
				<small class="form-text">Upload more product photos below</small>
				<div class="form-row">
				<% end %>
					<% else %>
				<!-- If there is no existing photos start a new row,since below is display:bolock -->
				<% if added_form.index==0 %>				
				<small class="form-text mt-0">Upload the product photos below</small>
				<div class="form-row">
				<% end %>					
					  	<%= added_form.file_field :image, accept:'image/jpeg, image/gif, image/png', class:"form-control-file col-lg-3 col-md-4 col-sm-6" %>
						<%= added_form.hidden_field :image_cache %>
					<% end %>
				<% end %>
				</div>
			</div>

	<%= f.submit "Submit", class:"btn btn-primary" %>

<% end %>