<%= form_for product, html:{multipart:true} do |f| %>

	<%= render "shared/error_messages", object: product %>

	<div class="form-row">
		<div class="form-group col-lg-6 col-md-12">
	  		<%= f.label :title, "Title" %>
			<%= f.text_field :title, class:"form-control" %>
		</div>

		<div class="form-group col-lg-3 col-md-6">
			<%= f.label :price, "Price $" %>
			<%= f.text_field :price, placeholder:"00.00", class:"form-control" %>
		</div>

		<div class="form-group col-lg-3 col-md-6">
			<%= f.label :stock, "Stock" %>
			<%= f.text_field :stock, placeholder:"Integer only", class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :abstract, "Abstract" %>
		<%= f.text_field :abstract, class:"form-control"  %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description" %>
		<%= f.text_area :description, class:"form-control"  %>
	</div>
			
	<div class="form-group">
		<%= f.label :categorizations_attributes, "Product Category" %>
		<div class="form-row">
			<%= f.fields_for :categorizations do |added_form| %>
			<%= added_form.select :category_id, @category_options, {prompt: "Select a Category"}, class:"form-control col-lg-4 col-md-6" %> 
			<% end %>
		</div>
	</div>
	
	<div class="form-group">
  		<%= f.label :photos_attributes, "Product Photos" %>
  		<div class="form inline">
		<%= f.fields_for :photos do |added_form| %>	
			<% if !product.photos[added_form.index].image.file.nil? %>
				<div class="form-group">
				<%= image_tag(product.photos[added_form.index].image.preview.url, class: "product_preview_image") %>
					<%= added_form.hidden_field :image_cache %>
					<div class="form-group">
						<%= added_form.check_box :_destroy, class:"form-check-input" %>
						<%= added_form.label :_destroy, "Delete", class:"form-check-label" %>		
					</div>
				</div>
			<% else %>
			  	<%= added_form.file_field :image, accept:'image/jpeg, image/gif, image/png', class:"form-control-file" %>
				<%= added_form.hidden_field :image_cache %>
			<% end %>
		<% end %>
	</div>
	</div>


	<%= f.submit "Submit", class:"btn btn-primary" %>

<% end %>