<% provide(:title,@product.title) %>

<h3><%= @product.title%></h3>

<% if @product.photos.any? %>
	<% @product.photos.each do |photo| %>
		<%= image_tag(photo.image.url) if photo.image.url %>
	<% end %>
<% end %>

<h4>Product Description</h4>
<p><%= @product.description %></p>

<h4>$<%= @product.price %></h4>
<h4>Availability: <%= @product.stock>0? "In Stock" : "Out of Stock" %></h4>

<%= link_to("Edite", edit_product_path(@product), class:"btn btn_admin") %>
<%= link_to("Delete", product_path(@product), method: :delete, data:{confirm:"Are you sure to delete this product?"}, class:"btn btn_admin") %>
