<% provide(:title,@product.title) %>

<h3 class="text-center mb-3"><%= @product.title%></h3>
<section class="row">
	<section class="col-12 col-md-6 col-lg-8">
			<% if @product.photos.any? %>
				<%= render "shared/image_slider", photos:@product.photos %>
			<% end %>	
	</section>


	<section class="col-12 col-md-6 col-lg-4">			
			<section class="mt-5 mt-md-0">
				<h3><%= number_to_currency(@product.price) %></h3>

				<% if @product.stock>0 %>
					<% stock_text = "In Stock" %>
					<% link_class = "" %>
				<% else %>
					<% stock_text = "Out of Stock" %>
					<% text_class = "text-warning" %>
					<% link_class = "disabled disabled_link" %>
				<% end %>

				<h4 class="<%=text_class%>">Availability: <%= stock_text %></h4>
			</section>

			<section>
				<%= form_for @order_item, html: {class: "form-inline", remote:true} do |f| %>
					<%= f.select :product_quantity, options_for_select(1..Rails.configuration.max_order_quantity, @order_item.product_quantity),{},{class: "form-group form-control mr-2"} %>
					<%= f.hidden_field :product_id %>
					<%= f.submit "Add to Shopping Cart", class:"btn btn-primary #{link_class}" %>
				<% end %>
			</section>

			<section class="mt-5">
				<h2>Product Description</h2>
				<p><%= @product.description %></p>
			</section>

			<section>
				<%= link_to("Edit", edit_product_path(@product), class:"btn btn_admin") %>
				<%= link_to("Delete", product_path(@product), method: :delete, data:{confirm:"Are you sure to delete this product?"}, class:"btn btn_admin") %>
			</section>
	</section>
</section>

