<h3><%= @product.title%></h3>

<% if @product.photos.any? %>
	<% @product.photos.each do |photo| %>
		<%= image_tag(photo.image.url) %>
	<% end %>
<% end %>

<h4>Product Description</h4>
<p><%= @product.description %></p>

<h4>$<%= @product.price %></h4>
<h4>Availability: <%= @product.stock>0? "In Stock" : "Out of stock" %></h4>
