<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} | " if !yield(:title).empty? %>Ecommerce
    </title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="/logo.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if !flash.empty? %>
        <section class="row flash">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type%>"><%= message %></div>
          <% end %>
        </section>
    <% end %>

  	<div class="container">      
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
